# Игнорировать все файлы
*

# Исключения
!.gitignore
!readme.md
!requirements.txt
!Procfile
!/Python
!tg-userbot.py


# Игнорировать системные файлы Windows
desktop.ini

# Игнорировать кеши Python
__pycache__/
*.pyc

# Игнорировать сессии Telegram
*.session
*.session-journal